/* link to google fonts fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-size: 16px;
    color: #ccc;
    font-family: 'lato', sans-serif;
    font-weight: 400;
    background: url("../images/pic.jpg") no-repeat center;
    width: 100%;
    height: 100%;
    margin:auto;
    clear: both;
}

/* headings */
h1, h2 {
	font-family: oswald, sans-serif;
	text-transform: uppercase;
	font-weight: 500;
	text-decoration: none;
}
h6, span {
	text-align: center;
}

/* header */
.quiz-name {
    text-align: center;
    text-decoration: none;
}

/* main home page container */
.home-page-box {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* form on front page */
.form {
    position: relative;
    width: 100%;;
    max-width: 700px;
    padding: 20px 40px 40px;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    box-shadow: 10px 10px 12px rgba(0, 0, 0, 0.9);
    text-align: center;
}

.form .input-field {
    position: relative;
}

.form .input-field input {
    width: 100%;
    padding: 10px 0;
    margin-bottom: 30px;
    background-color: transparent;
}

.form .input-field label {

}

.fa-user {
	font-size: 20px;
	color: #ff652f;
}

.instructions {
	color: #fff;
	font-weight: 400px;
	font-size: 20px;
	margin-top: 10px;
	text-align: left;
}

.instructions ol {
    padding: 10px 40px 10px 40px;
    font-size: 18px;
}

/* hidden box with next question button*/
.hidden-box {
    max-width: 700px;
    background-color: #ccc;
    margin: 40px auto;
    padding: 30px;
    border-radius: 7px;
    animation: fadeInRight 1s ease;
} 
/* contains and hides hidden box and prevent overflow */
.hidden-box::before,
.hidden-box::after{
	content: '';
	clear: both;
	display: table;
}
.hidden-box.hide{
	display:none;
}

button.btn {
    background-color: #ff652f;
    color: #ccc;
    border: none;
    border-radius: 7px;
    font-size: 12px;
    cursor: pointer;
    display: inline-block;
}

#reset-btn {
	float: right;
}