/* link to google fonts fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-size: 16px;
    color: #ccc;
	font-family: 'lato', sans-serif;
    font-weight: 400;
    background: url("../images/pic.jpg") no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 100%;
	margin: auto;
    clear: both;
}

/* headings */
h1, h2 {
	font-family: oswald, sans-serif;
	text-transform: uppercase;
	font-weight: 500;
	text-decoration: none;
}
h6, span {
	text-align: center;
	font-weight: 800;
	font-size: 20px;
}

/* header */
.quiz-name {
    text-align: center;
    text-decoration: none;
}

.quiz-name .logo {
    align-content: center;
    padding: 10px 0 10px;
}

/* main home page container */
.home-page-box {
	margin-top: 10px;
    display: flex;
	justify-content: center;
	align-items: center;
}

/* form on front page */
.myform {
    position: relative;
    width: 100%;;
    max-width: 700px;
    padding: 20px 40px 40px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    box-shadow: 10px 10px 12px rgba(0, 0, 0, 0.9);
    text-align: center;
}

/* .myform .input-field {
    position: relative;
}

.myform .input-field input {
    width: 100%;
    padding: 10px 0;
    margin-bottom: 30px;
    background-color: transparent;
    color: #ccc;
} */

/* .myform .input-field label {
    color: #ccc;
} */

.fa-user {
	font-size: 20px;
	color: #ff652f;
}

.instructions {
	color: #ccc;
	font-weight: 400;
	font-size: 20px;
	margin: 5px;
	text-align: left;
}

.instructions ol {
    padding: 10px 40px 10px 40px;
    font-size: 18px;
}

/* hidden box with next question button*/
.hidden-box {
    max-width: 700px;
    background-color: #ccc;
    margin: 20px auto;
    padding: 30px;
    border-radius: 7px;
    animation: fadeInRight 1s ease;
} 
/* contains and hides hidden box and prevent overflow */
.hidden-box::before,
.hidden-box::after{
	content: '';
	clear: both;
	display: table;
}
.hidden-box.hide{
	display:none;
}

button.btn {
    background-color: #ff652f;
    color: #ccc;
    border: none;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
    display: inline-block;
}

#reset-btn {
	float: right;
}

/* question box container */
.questions-box{
	margin-top: 20px;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 10px;
	box-shadow: 10px 10px 12px rgba(0, 0, 0, 0.9);
}

/* float elements left */
.questions-box .question-number,
.questions-box .question-text,
.questions-box .option-wrapper,
.questions-box .next-question-btn,
.questions-box .answers-area {
   width: 100%;
   float: left;
}
.question-box-header {
    display: flex;
    background-color: #ff652f;
    border-radius: 7px;
    padding: 10px;
    line-height: 25px;
}

.user {
	display: flex;
	line-height: 25px;
}

.question-box .question-number {
    font-size: 18px;
    padding: 10px;
    line-height: 25px;
}
.questions-box .question-text {
    font-size: 18px;
	line-height: 28px;
	padding: 16px;
	margin:0;
}
.questions-box .question-text img {
    max-width: 100%;
    display: block;
    margin-top: 10px;
}
.questions-box .option-wrapper .option{
	background-color: rgba(0, 0, 0, 0.5);;
	padding: 13px 15px;
	font-size: 16px;
	color: #fff;
	line-height: 22px;
	border-radius: 8px;
	border: 2px solid #fff;
	margin-bottom: 10px;
	cursor: pointer;
	opacity:0;
	animation: fadeIn 0.3s ease forwards;
	position: relative;
	overflow:hidden;
}

.questions-box .option-wrapper .option:hover{
	background-color: #252525;
}
.questions-box .option-wrapper .option.already-answered{
	pointer-events: none;
}

/* keyframe sets the animation opacity on the option boxes  */
@keyframes fadeIn{
	0%{
		opacity:0;
	}
	100%{
		opacity: 0.9;
	}
}
/* animated slide in green color effect to display correct option */
.questions-box .option-wrapper .option.correct::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: green;
    z-index: -1;
    animation: slideInLeft .5s ease forwards
}
@keyframes slideInLeft{
	0%{
		transform: translateX(-100%);
	}
	100%{
	 transform: translateX(0%);	
	}
}

/* animated slide in red color effect when incorrect option is chosen */
.questions-box .option-wrapper .option.wrong::before{
    content: '';
    position: absolute;
    left:0;
    top:0;
    height: 100%;
    width: 100%;
    background-color: red;
    z-index: -1;
    animation: slideInLeft .5s ease forwards
   }
.questions-box .option-wrapper .option.wrong{
    color:#ffffff;
   }
.questions-box .option-wrapper .option.correct{
    color:#ffffff;
   }
.questions-box .btn{
       margin:15px 0;
   }

   /* border above answers section */
.questions-box .answers-area{
    border-top: 2px solid #FFE3D0;
}
/* indicators for correct and incorrect answers */
.questions-box .answers-area div {
    height: 27px;
    width: 27px;
    display: inline-block;
    background-color: #fdd6e5;
    border-radius: 50%;
    margin-right: 3px;
    margin-top: 15px;
}

/* adds a cross or tick and color indicators red or green */
.questions-box .answers-area div.correct{
	background-color: green;
	background-image: url("../images/tick.png");
	background-size: 40%;
	background-repeat: no-repeat;
	background-position: center;
}
.questions-box .answers-area div.wrong{
	background-color: red;
	background-image: url("../images/cross.png");
	background-size: 40%;
	background-repeat: no-repeat;
	background-position: center;
}

/* score box */
.score-box{
	text-align: center;
	background: rgba(0, 0, 0, 0.8);
	margin-top: 20px;
}
.score-box.hide{
	display: none;
}
.score-box h1{
	font-size: 36px;
	line-height: 42px;
	color:#ccc;
}

/* table in score box that displays results */
.score-box table{
	width: 100%;
	border-collapse: collapse;
	margin:30px 0;
}
.score-box table td{
	border:1px solid #ccc;
	padding:8px 15px;
	font-weight: 500;
	color:#ccc;
	width: 50%;
	text-align: left;
	font-size: 18px;
}
.score-box .btn{
	margin-right: 20px;
}

/* style footer */
.footer {
	clear: both;
	margin: 0 auto;
	margin-bottom: 5px;
	background-color: transparent;
	height: 75px;
}

/*footer text and social media*/
.footer p {
	margin: 0 auto;
	margin-top: 50px;
	color: #fff;
	text-align: center;
}
.socialmedia {
    text-align: center;
}

.socialmedia > li {
    display: inline;
}

.socialmedia i {
    font-size: 160%;
    margin: 0px;
    padding: 1%;
    color: #ff652f;
}

/* media query phone screens */
@media screen and (max-width: 768px) {
	
    .score-box .btn {
		margin-bottom: 15px;
	}
	body {
    	padding: 5px;
	}
	.myform {
		padding: 5px 5px 10px;
	}
	.questions-box {
	padding: 5px;
	}
    .questions-box .question-text img {
	height: auto;
	display: block;
	margin-top: 10px;
    }
}
/* media query medium screens */
@media screen and (max-width: 960px) {

    body {
    	padding: 10px;
		height: 100%;
	}
	.form {
		padding: 10px 10px 15px;
	}
	.questions-box {
	padding: 10px;
	margin: auto;
	}
}	 